<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utils</title>
</head>
<body>
    <h1>welcome to text analyzer , Enter your text below</h1>
    
    <form action="/analyze" method="get" >
        <textarea name="text"></textarea>,<br>
        <input type="checkbox" name="removepun">Remove punc
        <input type="checkbox" name="fullcaps">Capitilize text
        <input type="checkbox" name="removeline">Remove newlines
        <input type="checkbox" name="removeextraspace">Remove extra spaces
        <input type="checkbox" name="countchar">count-char
        <button type="submit">Analye text</button>
    </form>
</body>
</html>